@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #a8edea 0%, #fed6e3 100%);
  font-family: 'Abel', sans-serif;
}

.signUpContainer {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typography-h4 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
}

.button {
  width: 80%; /* Button width relative to the container width */
  margin: 0.5rem 0; /* Spacing between buttons */
  padding: 1rem;
  border-radius: 5px;
  background: #4285f4; /* Google's brand color for the Google Sign In button */
  color: white;
  text-transform: none; /* Prevents MUI from making the text uppercase */
  font-size: 1rem;
  font-weight: 400;
}

.button:not(.google-sign-up) {
  background: #ff4b2b; /* Your app's button color for other buttons */
}

.button:hover {
  opacity: 0.9; /* Slight opacity for hover effect */
}

.google-sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-sign-up img {
  margin-right: 10px;
  width: 24px;
}

.errorText {
  color: #d32f2f;
  font-size: 0.875rem;
  margin-top: -5px;
  margin-bottom: 1rem;
}

/* Media query for smaller devices */
@media (max-width: 768px) {
  .signUpContainer {
    margin: 20px;
    width: auto;
  }

  .button {
    width: calc(100% - 2rem); /* Full-width minus padding */
  }
}
