/* SignIn.css */
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #a8edea 0%, #fed6e3 100%);
  font-family: 'Abel', sans-serif;
}

.signInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 340px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
  text-align: center;
}

.typography-h4 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.button {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: none;
  transition: background-color 0.2s, box-shadow 0.2s;
  /* Centering the text and icon within the button */
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-sign-up {
  background-color: #4285f4;
  color: white;
  /* These styles should ensure the button is centered */
  justify-content: center;
  width: auto; /* Remove any width constraints */
}

.google-sign-up:hover {
  background-color: #357ae8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buttonRow {
  width: 100%; /* Ensuring the button row takes the full width */
  display: flex;
  justify-content: center; /* Centering the buttons in the row */
  align-items: center;
  flex-direction: column; /* Stack buttons vertically */
}

.subtitle {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .signInContainer {
    margin: 20px;
    width: auto;
  }
}
